<h2>Process Details</h2> 

<hr/>
<div *ngIf="process">
  <div>
    <label><b>BonitaProcess: </b></label> {{process.bonitaprocess}}
  </div>
  <div>
    <label><b>BonitaProcessVersion: </b></label> {{process.bonitaprocessversion}}
  </div>
  <div>
    <label><b>AlertType: </b></label> {{process.alerttype}}
  </div>  
  <div>
    <label><b>OsType: </b></label> {{process.ostype}}
  </div> 
  <div>
    <label><b>ContractInfo: </b></label> {{process.contractinfo}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Process List</button><br>
